In [2]:
import pandas as pd

In [10]:
from datetime import datetime

# 获取当前时间
now = datetime.now()

# 提取月和日
current_month = now.month
current_day = now.day

print(f"当前月份: {current_month}, 当前日期: {current_day}")

当前月份: 12, 当前日期: 22

In [4]:
df1 = pd.read_excel('12月13日 南京大学登岛车辆报备.xlsx')
df1

,Unnamed: 0,新济洲湿地公园上岛车辆信息,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,填报单位：南京大学 填报日期: 2024 年 12...,NaN,NaN,NaN,NaN,NaN,NaN
1,上岛时间,序号,单位名称,车牌号,驾驶员姓名,联系号码,车辆型号（30吨以上需备注车与货物的重量）
2,07:30:00,1,NaN,NaN,NaN,NaN,NaN
3,NaN,2,NaN,NaN,NaN,NaN,NaN
4,NaN,3,NaN,NaN,NaN,NaN,NaN
5,09:20:00,1,南京大学,苏A 6 D 27 U,季丽丽,13913811908,小客车
6,NaN,2,NaN,NaN,NaN,NaN,NaN
7,NaN,3,NaN,NaN,NaN,NaN,NaN

In [11]:
df1.iloc[0,0] = f'填报单位：南京大学                    填报日期:   2024 年 {current_month}月 {current_day}日'

In [12]:
df1

,Unnamed: 0,新济洲湿地公园上岛车辆信息,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,填报单位：南京大学 填报日期: 2024 年 12...,NaN,NaN,NaN,NaN,NaN,NaN
1,上岛时间,序号,单位名称,车牌号,驾驶员姓名,联系号码,车辆型号（30吨以上需备注车与货物的重量）
2,07:30:00,1,NaN,NaN,NaN,NaN,NaN
3,NaN,2,NaN,NaN,NaN,NaN,NaN
4,NaN,3,NaN,NaN,NaN,NaN,NaN
5,09:20:00,1,南京大学,苏A 6 D 27 U,季丽丽,13913811908,小客车
6,NaN,2,NaN,NaN,NaN,NaN,NaN
7,NaN,3,NaN,NaN,NaN,NaN,NaN

In [14]:
# 将数据框导出为 Excel 文件
file1_name = f'{current_month}月{current_day}日 南京大学登岛车辆报备.xlsx'
df1.to_excel(file1_name)  # index=False 表示不导出行索引

In [56]:
from openpyxl import load_workbook
from openpyxl import Workbook
# 加载已有的 Excel 文件
wb = load_workbook('12月13日 南京大学登岛车辆报备.xlsx')
# 获取工作表
sheet = wb['Sheet1']

In [57]:

sheet['A2'].value

'填报单位：南京大学                    填报日期:   2024 年 12月 13日       '

In [58]:
sheet['A2'] = f'填报单位：南京大学                    填报日期:   2024 年 {current_month}月 {current_day}日'

In [59]:
sheet['A2'].value

'填报单位：南京大学                    填报日期:   2024 年 12月 22日'

In [41]:
jilili = {
            "C": "南京大学",
            "D": "苏A 6 D 27 U",
            "E": "季丽丽",
            "F": "13913811908",
            "G": "小客车"
        }

In [42]:
sheet.append(jilili)

In [62]:
# 保存工作簿
wb.save(f'{current_month}月{current_day}日 南京大学登岛车辆报备.xlsx')

In [ ]:
# 创建一个包含单位名称、车牌号、驾驶员姓名、联系号码、车辆型号的字典
vehicle_info = {
    "单位名称": "南京大学",
    "车辆信息": [
        {
            "车牌号": "苏A 6 D 27 U",
            "驾驶员姓名": "张三",
            "联系号码": "季丽丽",
            "车辆型号": "小客车"
        },
        {
            "车牌号": "鲁B67890",
            "驾驶员姓名": "李四",
            "联系号码": "13900002222",
            "车辆型号": "解放牌货车"
        },
        {
            "车牌号": "鲁C54321",
            "驾驶员姓名": "王五",
            "联系号码": "13700003333",
            "车辆型号": "福田牌货车"
        }
    ]
}

In [60]:
jilili = {
            "单位名称": "南京大学",
            "车牌号": "苏A 6 D 27 U",
            "驾驶员姓名": "季丽丽",
            "联系号码": "13913811908",
            "车辆型号": "小客车"
        }

xixinqiang = {
            "单位名称": "南京大学",
            "车牌号": "苏AA29981",
            "驾驶员姓名": "习新强",
            "联系号码": "17327736926",
            "车辆型号": "小客车"
        }

In [39]:
print(jilili['驾驶员姓名'])

季丽丽

In [61]:
dengdaoren = [jilili, xixinqiang]
for i in dengdaoren:
    no = dengdaoren.index(i)
    sheet[f'C{7+no}'] = i['单位名称']
    sheet[f'D{7+no}'] = i['车牌号']
    sheet[f'E{7+no}'] = i['驾驶员姓名']
    sheet[f'F{7+no}'] = i['联系号码']
    sheet[f'G{7+no}'] = i ['车辆型号']